<p>
	<a href="#/">Search</a>
	<a href="#/gallery">Gallery</a>
</p>

<p>	
	<a href="#/movies/{{nextID}}">Next</a>
	<a href="#/movies/{{prevID}}">Prev</a>
</p>

<h1>{{movie.title}}</h1>
<h1>{{movie.rank}}</h1>
<h1>{{movie.rated}}</h1>
<h1>{{movie.released}}</h1>
<h1>{{movie.runtime}}</h1>
<h1>{{movie.genre}}</h1>
<h1>{{movie.director}}</h1>
<h1>{{movie.actors}}</h1>
<h1>{{movie.plot}}</h1>
<h1>{{movie.language}}</h1>
<h1>{{movie.country}}</h1>
<h1>{{movie.awards}}</h1>
<h1>{{movie.metascore}}</h1>
<h1>{{movie.imdbRating}}</h1>
<h1>{{movie.imdbVotes}}</h1>
<h1>{{movie.imdbID}}</h1>